<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.swebs_sampleapplication_210612">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 주소검색 및 서버연결 위한 인터넷 연결 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Swebs_sampleApplication_210612"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.AddressSearchActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ItemClickActivity.ReviewProductActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ReCommentActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.TermsActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Login_Signup.MakeSNSAccountActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ServiceNotReadyActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.EventApply.EventRegisterSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.EventApply.EventApplyActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ItemClickActivity.ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ItemClickActivity.SurveyActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ItemClickActivity.EventActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ItemClickActivity.CertifiedCompanyActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.TopMenuActivity.MyTopMenuActivity"
            android:exported="true" />
        <activity
            android:name=".IntroPage.IntroActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ReviewWriteActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.PurchaseApply.PurchaseRegistSuccessActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.QRLinkActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.ModifyUserInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.AdressModifyActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.AuthenticScanActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.ItemClickViewActivty"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.InformationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.PermissionCheckActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.Login_Signup.MakeAccountActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.ScanHistoryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.PurchaseApply.PurchaseInfoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.ScanSettingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.TopMenuActivity.TopMenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.Login_Signup.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.splashActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao9e9aaead2ab6303029c565df975aec9d" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.swebs_sampleapplication_210612.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>